.imgProducto{
    width: 9.375rem;
    height: 9.375rem;
    object-fit: contain;
    margin-top: 1rem;
}

.colorBoton{
    color: white;
    background-color: salmon;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}